
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import './app/styles/_theme-colors.scss';

html { @include mat.theme((
    color: (
      theme-type: light,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
    ),
    typography: Montserrat,
    density: 0,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, sans-serif }
