
<aside id="aside" class="sidebar" aria-label="Меню">
    <nav class="sidebar__nav">
        <ul>
            <li><button mat-button routerLink="/welcome">Welcome</button></li>
            <li><button mat-button routerLink="/auth">Auth</button></li>
            <li>
                <button mat-button>Игровая</button>
                <ul class="submenu">
                    <li><button mat-button routerLink="/test-room">Элемент</button></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
